body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border-radius: 15px;
    max-width: 450px;
    height: auto;
    background-color: rgb(72, 70, 70);
}

.container h2 {
    color: white;
    text-align: center;
    padding: 5px;
}

.inputcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input {
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    border: none;
}

button {
    display: block;
    width: 320px;
    border-radius: 10px;
    background-color: red;
    color: white;
    border: none;
    font-size: 1.1rem;
    padding: 10px;
    margin: 20px 0 0 0;
    cursor: pointer;
}

.output {
    display: flex;
    width: 350px;
    height: auto;
    margin: 30px 0;
    border-radius: 10px;
}

img {
    width: 200px;
    height: 250px;
    display: block;
}

.movieresult {
    padding: 10px;
    margin: 10px 0;
}

.movieresult strong {
    padding: 5px;
}

.movieresult p {
    font-size: 1.1em;
}

@media (max-width:768px) {
  .inputcontainer{
    width: 350px;
    min-height: 45vh;
  }
  img {
    width: 170px;
    height: 180px;
    display: block;
}
.movieresult strong {
    padding: 0px;
}
}